* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  overflow: hidden;
}

body {
  background: linear-gradient(to bottom, #231570, #58459e);
  min-height: 100vh;
  font-family: "Poppins";
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

#tip-container {
  width: 80vh;
  background-color: white;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.4);
  border-radius: 0.45rem;
  margin-right: 2rem;
  transition: 0.3s ease-out;
}

#logo {
  text-align: center;
  padding: 2rem 0;
  padding-bottom: 1rem;
}

.calculate-button-div {
  text-align: center;
  padding: 1rem 0;
}

#calculate-button {
  cursor: pointer;
  background-color: #231570;
  color: white;
  font-family: "Poppins";
  border: 0;
  width: 50%;
  font-size: 1.15rem;
  padding: 0.5rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
  border-radius: 7.5px;
  transition: 0.2s ease-out;
}

#calculate-button:hover {
  background-color: #58459e;
}

.input-block {
  margin-left: 5rem;
  margin: 1rem 0 1rem 5rem;
}

.input-block input,
.input-block select {
  padding: 5px;
  font-family: "Poppins";
  font-weight: 400;
  width: 60%;
  border-radius: 5px;
  border: 0;
  transition: 0.2s ease-out;
  margin-top: 1rem;
  border: 1px solid #000;
}

.tip-section {
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: center;
  position: relative;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);

  animation: go-left 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.tip-section.hidden {
  display: none;
}

@keyframes go-left {
  from {
    right: -400px;
  }
  to {
    right: 0px;
  }
}
